{% extends 'base.html.twig' %}

{% block title %}Hello CreditPageController!{% endblock %}

{% block body %}

<div class ="flex items-center flex-row justify-center ">
    <div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 m-2">
        <div class="flex justify-end px-4 pt-4">

            <!-- Dropdown menu -->
            <div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 175px, 0px);">

            </div>
        </div>
        <div class="flex flex-col items-center pb-10">
            <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="http://image.noelshack.com/fichiers/2022/44/5/1667566175-ilan.png" alt="Ilan image">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Ilan Petiot</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">Compagnies Developer | Visual Designer</span>

        </div>
    </div>
    <div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 m-2" >
        <div class="flex justify-end px-4 pt-4">

            <!-- Dropdown menu -->
            <div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 175px, 0px);">

            </div>
        </div>
        <div class="flex flex-col items-center pb-10">
            <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="http://image.noelshack.com/fichiers/2022/44/5/1667566180-guillaume.jpeg" alt="Guillaume image">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Guillaume Moret</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">Offers Developer | Unitary Test</span>

        </div>
    </div>
    <div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 m-2">
        <div class="flex justify-end px-4 pt-4">

            <!-- Dropdown menu -->
            <div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 175px, 0px);">

            </div>
        </div>
        <div class="flex flex-col items-center pb-10">
            <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="http://image.noelshack.com/fichiers/2022/44/5/1667566185-1632760735857.jpeg" alt="Bonnie image">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Louis Lefevbre</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">Index Developer | Integrator</span>

        </div>
    </div>
    <div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 m-2">
        <div class="flex justify-end px-4 pt-4">

            <!-- Dropdown menu -->
            <div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 175px, 0px);">

            </div>
        </div>
        <div class="flex flex-col items-center pb-10">
            <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="http://image.noelshack.com/fichiers/2022/44/5/1667566237-thomas.jpeg" alt="Bonnie image">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Thomas Lamiable</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">Login and Register Developer | Integrator </span>

        </div>
    </div>
</div>
{% endblock %}
